
.signIn-login{
  align-items: center;
}
#welcome{
  color: #1B3F9A;
  font-size: xx-large;
}


.content-login{
  align-items: center;
  padding: 3rem;
  background-image: url('../../assets/images/login/fondo2.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#aRegyster{
  color: #1B3F9A !important;
  margin-left: 1rem;
}

.register-login{
  padding-top: 0.3rem;
  display: flex;
  flex-direction: row !important;
}
#btnLogin{
  font-size: large;
  width: 90%;
  height: 2.9rem;
  padding: 0.6rem;
  border-radius: 2rem;
  border: none;
  background-color: #1B3F9A;
  color: white;
  cursor: pointer;
  
}
#btnLogin:hover{
  background-color: rgba(27, 63, 154, 0.9);
}


#fondoLogin{
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
